@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+BE+VLG:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(
    to bottom right,
    rgb(16, 16, 16),
    rgba(20, 20, 20, 0.836)
  );
}

/* utility class */

.borderRightBox{
    width: 2px;
    height: 150px;
    background-color: gray;
}

.borderTopBox{
    width: 150px;
    height: 2px;
    background-color: gray;
}

.container {
  width: 480px;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  box-shadow: 6px 6px 13px 3px black;
}

.msgBox {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: 2px solid gray;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.btn button{
  padding: 15px;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
}

.ticTakCard {
  width: 454px;
  height: 454px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.msgBox .msg p {
  font-size: 1.4rem;
  color: white;
}

.boxes {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: white;
}

.scaleUp {
  animation: scaleUp 0.2s ease-in-out;
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    font-size: 0px;
  }
  100% {
    opacity: 1;
    font-size: 120px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 310px;
    height: 440px;
  }

  .msgBox{
    flex-direction: column;
  }
  
  .msgBox .msg p {
    font-size: 1rem;

  }
  .buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .btn button{
    padding: 10px;
    font-size: 0.8rem;
    width: 120px;
  }
  .ticTakCard{
    width: 304px;
    height: 304px;
  }

  .boxes {
    width: 100px;
    height: 100px;
    font-size: 70px;
  }
  .borderRightBox{
    width: 2px;
    height: 100px;
    background-color: gray;
}

.borderTopBox{
    width: 100px;
    height: 2px;
    background-color: gray;
}
@keyframes scaleUp {
    0% {
      opacity: 0;
      font-size: 0px;
    }
    100% {
      opacity: 1;
      font-size: 70px;
    }
  }
}
